$brand: wowcher;
$colours-one: #EB008C;
$colours-two: #53B535;
$font-family-primary: gotham;
$font-family-secondary: freight;
$font-family-primary-type-one: GothamMedium;
$font-family-primary-type-two: GothamBook;
$font-family-primary-type-three: GothamBold;
$font-family-secondary-type-one: FreightTextBook;
$font-family-secondary-type-two: FreightTextLight;
$font-family-secondary-type-three: FreightTextMedium;
$txt-size-primary: 14px;
$txt-size-secondary: 16px;
$txt-size-tertiary: 18px;