<!-- Hard-coded breadcrumb (for now just to be able to link back to homepage) -->
<div class="[ row ]">
  <div class="[ col-12 ][ breadcrumb ]">
    <a class="[ typography-body-book ]"
       routerLink="/" routerLinkActive="active">
      Home
    </a>
    <span *ngIf="!isParentActive"> >
      <a class="[ typography-body-book ]"
         routerLink="/searchResults" routerLinkActive="active">
        Search Results
      </a>
    </span>
  </div>
</div>
<!-- end of breadcrumb -->

<h6>Deal page for deal: {{ deal_id }} </h6>

<ul>
  <li *ngFor="let todo of dummySelect$ | async;">

    <span *ngIf="deal_id == todo.id">
      <strong style="color: red">
        <span> {{ todo.id }} <br /> {{ todo.headline }} </span>
        <img src="{{ todo?.images[0].imageUrl }}.jpg" />
      </strong> <br />
    </span>

    <span> {{ todo.id }} <br /> {{ todo.headline }} </span>
  </li>
</ul>
