
<!-- Hard-coded breadcrumb (for now just to be able to link back to homepage) -->
<div class="[ row ]">
  <div class="[ col-12 ][ breadcrumb ]">
    <a class="[ typography-body-book ]"
       routerLink="/" routerLinkActive="active">
      Home
    </a>
    <span *ngIf="!isParentActive"> >
      <a class="[ typography-body-book ]"
         routerLink="/buildingBlocks" routerLinkActive="active">
        Search Results
      </a>
    </span>
  </div>
</div>
<!-- end of breadcrumb -->

<div class="[ container ][ content__container ]" *ngIf="isParentActive">
  <div *ngIf="_busy" class="row">
    <div class="col-12">
      <img src="/assets/loading.gif" alt="content loading" />
    </div>
  </div>

  <div *ngIf="!_busy" class="row">

    <!-- error handling -->
    <div class="[ col-12 ]"
         *ngIf="_httpStatus.status !== 200">
      <h2> Error: <span style="color: red;"> {{ _httpStatus.status }} </span> </h2>
      <h3> We're sorry. <br /> {{ _httpStatus.message }} </h3>
      <p> Please try again shortly! </p>
    </div>
    <!-- end of error handling -->

    <div class="[ col-4 ]"
         *ngFor="let offer of _offers?.deals">

      <div class="[ custom__card ]">
          <span *ngIf="offer?.images.length >= 1">
            <img class="card-img-top"
                 src="{{ offer?.images[0].imageUrl }}.jpg" alt="{{ offer?.images[0].alt }}}" />
          </span>
        <span *ngIf="offer?.images.length < 1">
            <img class="card-img-top"
                 src="http://via.placeholder.com/225x225?text=No%20image%20available" alt="No image available" />
          </span>

        <div class="card-body">
          <h5 class="card-title">{{ offer.headline }}</h5>
          <p class="card-text">Buy now at only £{{ offer.price }}</p>
          <a routerLink="{{offer.id}}"
             (click)="goToDeal(offer.id)"
             class="btn btn-primary">View deal</a>
        </div>
      </div>

    </div>
  </div>
</div>

<!--<div class="[ container ][ content__container ]" *ngIf="!isParentActive">-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->
