@import "../variables";
@import "../mixins/rem";

.nav-tabs{
  @include rem(padding, 0);
  border-bottom: solid $black 1px;

  .nav-item.active,
  .nav-item,
  .nav-item.show {
    @include rem(padding, 0);

    .nav-link.active,
    .nav-link:hover {
      background: transparent;
      border-color: transparent;
      border-bottom: solid 2px $black;

      span {
        @include rem(padding, 0 0 10px);
        color: $black;
        display: inline-flex;
      }
    }
  }
}

.tab {

  &__content {
    @include rem(padding, 10px);
  }

}
