$componentLibrary-font-path: "../assets/fonts/componentLibrary" !default;

$icon-minus2: "\e115";
$icon-check2: "\e116";
$icon-cross: "\e117";
$icon-menu2: "\e120";
$icon-sort2: "\e164";
$icon-wowcher-splat: "\e607";
$icon-back-in-time: "\e901";
$icon-location: "\e902";
$icon-uniE903: "\e903";
$icon-uniE904: "\e904";
$icon-menu: "\e905";
$icon-circle-up: "\e906";
$icon-circle-down: "\e907";
$icon-share2: "\e908";
$icon-google-plus: "\e909";
$icon-facebook2: "\e90a";
$icon-instagram2: "\e90b";
$icon-twitter2: "\e90c";
$icon-rss2: "\e90d";
$icon-pinterest2: "\e90e";
$icon-uniE90F: "\e90f";
$icon-chevron-down: "\e910";
$icon-chevron-left: "\e911";
$icon-chevron-right: "\e912";
$icon-chevron-up: "\e913";
$icon-circle-right: "\e914";
$icon-circle-left: "\e915";
$icon-mail2: "\e916";
$icon-mail3: "\e917";
$icon-search2: "\e918";
$icon-location1: "\e919";
$icon-person: "\e91a";
$icon-uniE91B: "\e91b";
$icon-uniE91C: "\e91c";
$icon-uniE91D: "\e91d";
$icon-uniE91E: "\e91e";
$icon-star2: "\f00f";
$icon-star-o: "\f01f";
$icon-user2: "\f020";
$icon-check3: "\f03f";
$icon-map-marker: "\f04f";
$icon-check-circle: "\f05f";
$icon-check-circle-o: "\f06f";
$icon-calendar2: "\f07f";
$icon-twitter-square: "\f08f";
$icon-facebook-square: "\f09f";
$icon-camera-retro: "\f0af";
$icon-square: "\f0cf";
$icon-pinterest-square: "\f0df";
$icon-google-plus-square: "\f0ef";
$icon-envelope2: "\f0ff";
$icon-star-half-empty: "\f12f";
$icon-paypal: "\f1ef";
$icon-cc-visa: "\f1ff";
$icon-cc-mastercard: "\f20f";
$icon-cc-amex: "\f21f";
$icon-cc-paypal: "\f220";
